<h5>Mantenimiento de usuarios</h5>
<form (ngSubmit)="saveUsuario()">
  <div class="flex flex-column gap-2">
    <label for="nombre">Nombre</label>
    <input
      pInputText
      id="nombre" aria-describedby="usuario-mant"
      [(ngModel)]="nuevo.nombre"
    />
    <small id="usuario-mant">Enter your name </small>
  </div>

  <label for="Apellido">Apellido</label>
  <input
    type="text" pInputText
    pInputText
    [(ngModel)]="nuevo.apellido"
  />
  <label for="Cedula">Cédula</label>
  <input
    type="text"
    pInputText
    [(ngModel)]="nuevo.ci"
  />
<label for="fnacimiento">F.Nacimiento</label>
<p-calendar
  [(ngModel)]="nuevo.fnacimiento"
></p-calendar>
<label for="Direccion">Dirección</label>
<input
  type="text"
  pInputText
  [(ngModel)]="nuevo.direccion"
/>
<label for="Telefono">Teléfono</label>
<input
  class="p-inputtext-lg"
  type="text"
  pInputText
  [(ngModel)]="nuevo.telefono"
/>
<label for="Email">Email</label>
<input
  type="email"
  pInputText
  [(ngModel)]="nuevo.email"
/>
<label for="Usuario">Usuario</label>
<input
  type="text"
  pInputText
  [(ngModel)]="nuevo.usuario"
/>
<label for="Password">Contraseña</label>
<input
  type="password"
  pInputText
  [(ngModel)]="nuevo.password"
/>
<button type="submit" class="form-control" >Guardar</button>
</form>
